form  {
    width: 400px;
    height: 600px;
    background-color: #1a181b;
    padding: 10px;
    display: inline-block;
    left-margin: auto;
    right-margin: auto;
    text-align: center;
    margin-top: 50px;
    border: 6px solid red;
    border-radius: 0%;
    color: red;
    box-shadow:
  0 11.6px 11.6px rgba(0, 0, 0, 0.15),
  0 26.9px 26.9px red,
  0 48.4px 48.4px rgba(0, 0, 0, 0.253),
  0 80.3px 80.3px red,
  0 132.3px 132.3px rgba(0, 0, 0, 0.345),
  0 231.2px 231.2px red,
  0 500px 500px rgba(0, 0, 0, 0.62);


  }

.background {
animation:

}

td {
  text-align: center;
  color: white;

}

.neonText {
  color: red;
  text-shadow:
    0 0 7px red,
    0 0 10px red,
    0 0 21px red,
    0 0 42px #bda418,
    0 0 82px #bda418,
    0 0 92px #bda418,
    0 0 102px #bda418,
    0 0 151px #bda418;
}


.button {
  background-color: #c21010;
  border: 3px solid #0f518a;
  color: black;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10%;
  box-shadow: 2px 14px 23px;
  cursor: pointer;
}

input[type=button]:hover{
  background-color: #ae593f;
}

input[type=button]:active {
background-color: white;
border-color: red;
color: black;
}

input[type=text] {
width: 140%;
padding: 2px 9px;
display: inline-block;
border: 2px solid red;
border-raidus: 7px;
box-sizing: border-box;
background-color: #595858;
}

input[type=text]:focus {
  color: white;
}
