form  {
    width: 400px;
    height: 600px;
    background-color: #1a181b;
    padding: 10px;
    display: inline-block;
    left-margin: auto;
    right-margin: auto;
    text-align: center;
    margin-top: 50px;
    border: 6px solid red;
    border-radius: 0%;
    color: red;
    box-shadow:
  0 11.6px 11.6px rgba(0, 0, 0, 0.15),
  0 26.9px 26.9px red,
  0 48.4px 48.4px rgba(0, 0, 0, 0.253),
  0 80.3px 80.3px red,
  0 132.3px 132.3px rgba(0, 0, 0, 0.345),
  0 231.2px 231.2px red,
  0 500px 500px rgba(0, 0, 0, 0.62);


  }

.background {
background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

td {
  text-align: center;
  color: white;

}


.neonText {
  color: red;
  text-shadow:
    0 0 20px black,
    0 0 7px red,
    0 0 10px red,
    0 0 21px red,
    0 0 42px #bda418,
    0 0 82px #bda418,
    0 0 92px #bda418,
    0 0 102px #bda418,
    0 0 151px #bda418;

}

.option{
  background-color: red;
  color: black;
}

.option:hover{
  background-color: black;
  color: white;
  border-color: red;
}


.option:focus{
  background-color: black;
  color: white;
  border-color: red;
}


  .shadow {​​​​​​​
    background-color: #3a50d9;
    color: #e0eff2;
    font: italic bold 24px Georgia, Serif;
    text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
​
  }

.button {
  background-color: red;
  color: black;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 17px 2px;
  cursor: pointer;
  box-shadow: 2px 17px 23px;
}

.checkbox {
  margin: 15px 2px;

}




input[type=button]:hover{
  background-color: black;
  border: 3px solid red;
  color: red;
}

input[type=button]:active {
background-color: white;
border-color: red;
color: black;
}

input[type=text] {
width: 140%;
padding: 2px 9px;
display: inline-block;
border: 2px solid red;
border-raidus: 7px;
box-sizing: border-box;
background-color: #595858;
}

input[type=text]:focus {
  color: white;
}

input[type=password] {
  width: 140%;
  padding: 2px 9px;
  display: inline-block;
  border: 2px solid red;
  border-raidus: 7px;
  box-sizing: border-box;
  background-color: #595858;
}


input[type=password]:focus {
  color: white;
}
